@import "mapbox-gl/dist/mapbox-gl.css";
@import "tailwindcss";
@theme {
  --color-primary: oklch(0.627 0.265 303.9);
  --color-secondary: oklch(0.715 0.143 215.221);
  --spacing-base: 0.25rem;
  --font-display: "Satoshi", system-ui, sans-serif;
  /* Фракционные палитры */
  --color-faction-fjr: #D32F2F; /* красный */
  --color-faction-an: #111111; /* чёрный */
  --color-faction-syn: #FFFFFF; /* белый */
  --color-faction-pol: #001F3F; /* navy blue */
  --color-faction-art: #7C4A21; /* медно-коричневый */
  --color-faction-tr: #FFD700; /* золотисто-жёлтый */
  --color-faction-ob: #6A0DAD; /* пурпурный */
  --color-faction-farm: #795548; /* коричневый */
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}

.game-ui {
  background: var(--color-primary);
  padding: calc(var(--spacing-base) * 4);
  font-family: var(--font-display);
}

