# Convex deployment
CONVEX_DEPLOYMENT=your_deployment_id
VITE_CONVEX_URL=your_convex_url

# OpenAI (если используется)
OPENAI_API_KEY=your_openai_api_key

# JWT configuration
JWT_PRIVATE_KEY=your_private_key 

CONVEX_DEPLOYMENT=dev:loyal-kookabura-274 

VITE_CONVEX_URL=https://loyal-kookabura-274.convex.cloud

VITE_MAPBOX_TOKEN=pk.eyJ1IjoiaW5vdGkiLCJhIjoiY205MDhqbzFyMGs0dzJsczgzaHA1YWJscyJ9.AnUFZnF1NfhefBtsQLnvdA
MAPBOX_SECRET_TOKEN=sk